<!Doctype html>

<html>
    <head>
        <title>Accessoire</title>
    </head>  
    <body>
            <a href="../View/View_acceuil_stealmarket.php">INDUMENTIS</a> 
            
            <a href="View_accessoire_bague.php">les bagues</a> 
        
            <a href="View_accessoire_boucle.php">les boucles d'oreille</a> 
        
            <a href="View_accessoire_collier.php">les colliers</a> 
        
            <a href="View_accessoire_montre.php">les montres</a> 
        <form>
            <input type="button" value="En savoir plus">
        </form>
        <div id="recherche">
            <label for="site-search">Search the site :</label>
            <input type="recherche" id="site-search" name="recherche">

                
                
    </body>
</html>